{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {% for course in courses %}
        <p>Nom de la leçon: {{ course.name }}</p>
        <ul>
            {% for category in course.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
